* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;   
    scroll-behavior: smooth;
   }
body{
   display: block;
    height: 100vh;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 20%;
    text-align: center;
    align-items: center;
    background-color: #394294;
}

.container_photo{
    background-color: azure;
    height: auto;
    width: auto;
    border-radius: 100%;
    position: relative;
    top: 102px;
}

.container_photo--photo{
   height: 150px;
   width: 150px;
}



main{
    height: 70%;
    width: 100%;
    
}
footer{
    width: 100%;
    height: 10%;
    background-color: black;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.section_register{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 80px;
}

.section_register--box{
    width: 270px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: 'Montserrat Alternates', sans-serif;

}

.section_register--box_fo_password{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    
    justify-content: center;
}

.section_register--button{
    width: 70px;
    height: auto;
    text-align: center;
    align-self: center;
}

.section_register--box_no_account{
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.section_register--label{
    font-family: 'Inter', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
color: #1C85EB;
font-weight: bold;
font-size: 17px;
text-align:left;
}

.section_register--input{

    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-color: #1C85EB;
    color: black;
    margin-top: 6px;
    margin-bottom: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    
}

.section_register--box_fo_password{
    display: flex;
    justify-content: center;
}

.section_register--fo_password{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.section_register--link_password{
    padding-left: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #1C85EB;
    font-weight: bold;
    font-size: 15px;
}

.section_register--button{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    border-color: #1C85EB;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    color: #1C85EB;
    font-weight: bold;

}

.section_register--no_account{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.section_register--link_no_account{
    padding-left: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #1C85EB;
    font-weight: bold;
    font-size: 15px;
}

.footer--text{
    padding-left: 5px;
    font-family: 'Kanit', sans-serif;
    color: white;
    opacity: 1;
    font-weight: bold;
    font-size: 25px;
}